<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>541969136469-iajlc4r4hfpffbmsebiud6di4gh5chfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541969136469-iajlc4r4hfpffbmsebiud6di4gh5chfn</string>
	<key>API_KEY</key>
	<string>AIzaSyD1jJkjhVD4fHEYoQAVKcDkTWUF_ZacwiE</string>
	<key>GCM_SENDER_ID</key>
	<string>541969136469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Test.Project-Safe-And-Sound</string>
	<key>PROJECT_ID</key>
	<string>safe-and-sound-d9ed0</string>
	<key>STORAGE_BUCKET</key>
	<string>safe-and-sound-d9ed0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541969136469:ios:58a639f78b8707e8</string>
	<key>DATABASE_URL</key>
	<string>https://safe-and-sound-d9ed0.firebaseio.com</string>
</dict>
</plist>